@font-face {
    font-family: Pasifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Badscript;
    src: url(./fonts/BadScript-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Light.woff2);
    font-weight: 100;
}

.page{
    display: flex;
    justify-content: center;
}

.card{
    margin: 0;
}

.main {
    max-width: 960px;
    min-width: 320px;
    background-color: #4d2e28;
    min-height: 99vh;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    text-align: center;
}

/* @media screen and (max-width: 800px){
    .main{
        background-color: aqua;
    }
    
} */
 
/* @media screen and (min-width: 800px){
    .main{
        background-color: aqua;
    }
    
}  */

.title{
    margin: 0;
    margin-top: 40px;
    font-size: 56px;
    line-height: 100px;
    color: #dad9d9;
    text-decoration: underline;
    font-family: Pasifico;
}

@media screen and (max-width: 700px){
    .title{
        font-size: 26px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
}



.cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 4px 4px 10px #cda261;
    transition: transform 0.2s linear 0.1s;
    margin:20px;
}

/* https://doka.guide/css/pseudoclasses/ */


.card:hover {
    cursor: pointer;
    transform: scale(1.02);
     /* transition: transform 0.2s linear 0.1s; */
}

/* .card:not(:last-of-type, :first-of-type){
    margin: 20px;
} */

/* .card:has(a){
    margin: 20px;
}  */


/* .card:first-of-type{
    margin-left: 0;
} */

/* .card:last-of-type{
    margin-right: 0;
}  */

/* .card:nth-of-type(2n){
    border: 1px solid blue;
} */


/* .card:hover {
  animation: move 20s linear;
   
}


@keyframes move {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
   21% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  90% {
    transform: skew(10deg) ;
  }
   100% {
    transform: scale(1);
  }
} */

.card__title{
    color: #ce9a69;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    font-size: 25px;
    font-family: Badscript;
}

.description{
    margin: 0;
    margin-top: 35px;
    margin-bottom: 40px;
    width: 80%;
    font-weight: 100;
    /* text-align: center; */
    color: #dad9d9;
    font-family: Ubuntu;
}

.card__item_1{
    background-image: url(./img/кекс.jpg);
    background-position: -35px;
}

/* .card:has(a){
    background-image: url(./img/кекс.jpg);
    background-position: -35px;
} */

.card__item_2{
    background-image: url(./img/печенье.jpg);
    background-position: -35px;
}

.card__item_3{
    background-image: url(./img/трюфель.jpg);
    background-position: -35px;
}



.font-weight_bold {
    font-weight: 600 ;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    /* transition: visibility 0.5s linear; */
    transition: opacity 0.5s linear;
}

.popup__conteiner {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 270px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    padding: 20px;
}

@media screen and (max-width: 865px){
    .popup__conteiner {
        width: 270px;
        height: 450px;
    }
}

.popup__button-exit {
    position: absolute;
    top: -37px;
    right: -37px;
    background-image: url(./img/CloseButoon.svg);
    width: 32px;
    height: 32px;
}

/* @media screen and (max-width: 400px){
    .popup__button-exit{
        right: 0px;
    }
} */

.popup__title {
    text-align: center;
    font-family: BadScript-Regular;
    color: #000;
    margin: 0;
    margin-bottom: 20px;
}

.popup__text {
    font-family: Ubuntu;
    font-weight: 100;
    text-align: center;
    color: #000;
}

.popup__opened {
    visibility: visible;
    opacity: 1;

}

